<!-- Loop over each object in the projects array -->
{{#each entries as |entry| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    {{!-- <h2>
      <a href="/entry/{{entry.id}}">{{entry.title}}</a>
    </h2> --}}
    <p>{{entry.title}}</p>
    <p>Created by {{entry.user.name}} on {{format_date entry.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{entry.user.description}}
    </p>
  </div>
  {{!-- <div class="col-md-4">
    <button class="btn btn-sm btn-danger" data-id="{{entry.id}}">DELETE</button>
  </div> --}}
</div>
{{/each}}
