<html class="entries">
<div class="text-center">
  <div class="text-center" id="profile-back-btn">
    <h2>{{title}}</h2>
    <p>{{text}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <img width="200px" height="200px" id="uploaded" src="{{image_url}}" /> 
    <button class="btn btn-sm btn-danger"><a href="/">Back to Profile</a></button>
  </div>
</div>
</html>