<!-- Loop over each object in the projects array -->
{{#each entries as |entry| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/entry/{{entry.id}}">{{entry.name}}</a>
    </h2>
    <p>Created by {{entry.user.name}} on {{format_date entry.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{entry.description}}
    </p>
  </div>
</div>
{{/each}}
